.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

ul{ 
  list-style-type: none;
  padding:0;
  margin: 0 10px;
}

li{
  margin-top: 5px;
  cursor: pointer;
  
  text-align: center;
}

li:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}

.comments{
 display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  z-index: 99;
  background: white;
  position: fixed;
  border: 1px solid black;
  margin-top:20px;
  
}

.exit{
  align-self: flex-end;
  font-size: xx-large;
  cursor: pointer;
  margin-right:10px;
}

.exit:hover{
  background-color: black;
  color: aliceblue;
  transition: 0.3s;
}

.nav{
  display: flex;
  gap: 30px;
  font-size: x-large;
}
